/* Global reset and box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

/* Global transition for animations */
.animated-element {
  opacity: 0;
  /* transform: none; */
  transition: opacity 1s ease, transform 1s ease;
  /* flex: 0 0 auto; */
}

/* Left animation */
.animated-element.left {
  transform: translateX(-50px) translateY(50px);
}

.animated-element.left.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

/* Right animation */
.animated-element.right {
  transform: translateX(50px);
}

.animated-element.right.show {
  opacity: 1;
  transform: translateX(0);
}

/* Additional styles */
body {
  background-color: #f2f9ff;
}

header {
  width: 80%;
  border-radius: 20px;
  z-index: 10;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffcce1c7;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 20px;
  box-shadow: 0px 5px 20px rgb(178, 190, 255);
}

header .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left img {
  width: 50px;
  margin-right: 10px;
}

header .left h2 {
  color: #000;
}

header div a {
  padding: 0 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

header div a:hover{
  color: #ff77b7;
 font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

main h1 {
  font-size: 90px;
}

main p {
  font-weight: 400;
  font-size: 18px;
}

main span {
  background: -webkit-linear-gradient(90deg, #8870ff, #ff77b7, #ff77b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services {
  background-color: #D9EAFD;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.services h1{
margin: 30px 0px;
}

.innerServices {
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.service {
  display: flex;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #7c77ff;
}

.serviceLeft {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceLeft img {
  width: 60px;
}

.serviceRight {
  width: 75%;
}

.serviceRight b {
  font-size: 18px;
  margin: 5px;
}

.serviceRight p {
  font-size: 14px;
  margin: 5px;
}

.unique {
  background-color: #D9EAFD;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.unique h1, p{
margin: 20px 0px;
}

.unique .heading{
  font-weight: 500;
  border: 1px solid grey;
  background: linear-gradient(rgb(156, 248, 255), rgb(242, 171, 255));
  padding: 10px;
  border-radius: 50px;
  }
  

.innerUnique{
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

#other{
  color: black;
}

.innerUnique h3{
  /* background: -webkit-linear-gradient(90deg, #8870ff, #ff77b7, #ff77b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #ff77b7;
  /* border: 1px solid black; */
  border-radius: 30px;
  font-size: 25px;
  padding: 5px;
 
}



.innerUnique .left p{
  color: green;
  font-size: 20px;
  font-weight: 700px;
  border: 2px dashed rgb(0, 255, 13);
  border-radius: 20px;
  padding: 5px;
}
.innerUnique .right p{
  color: red;
  border: 2px dashed red;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
}

.innerUnique .left div {
  display: flex;
  align-items: center;
}
.innerUnique .right div {
  display: flex;
  align-items: center;
}

#other {
  color: rgb(145, 145, 145);
}

.specialWords{
  background: -webkit-linear-gradient(90deg, #8870ff, #ff77b7, #ff77b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review{
  background-color: #D9EAFD;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.review h1{
  margin: 20px 0px;
  }
  

.innerReview{
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.innerReview .left{
  height: 100%;
  border-right: 1px solid black;
  width: 50%;
}
.innerReview .right{
  height: 100%;
  width: 50%;
}

.card{
  /* border: 0.5px solid black; */
  background-color: #E8F9FF;
  box-shadow: 0px 3px 5px rgb(195, 195, 195);
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin: 20px auto;
  border-radius: 20px;
}

.card .top img{
  width: 50%;
  height: 80%;
  padding-left: 10px;
}

.card .top{
  display: flex;
  align-items: center;
  height: 15%;
}
.card .middle{
  height: 65%;
}

.card .middle p{
  margin: 0;
  padding: 8px;
}
.card .bottom{
  display: flex;
  height: 20%;
}

.bottom .leftCard{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom .leftCard img{
  width: 50%;
  height: auto;
}
.bottom .rightCard{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: start;

}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9EAFD;

}

.innerFooter{
  width: 80%;
  height: 80%;
  /* border: 1px solid black; */
  box-shadow: 0px 3px 5px grey;
  border-radius: 40px;
  background-color: #f2f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerFooter div{
  width: 34%;
  height: 100%;
 
}

.innerFooter .left {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  
}

.innerFooter .left img{
  width:30%;
}

.innerFooter .middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.innerFooter .middle a{
  text-decoration: none;
  padding: 10px 0px;
  color: #141212;
}
.innerFooter .right{
display: flex;
flex-direction: column;
}

.innerFooter .right div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.innerFooter .right img{
 width: 60%;
 transition: 0.4s;
}

.innerFooter .right img:hover{
  transform: scale(1.1);
}

#whatsapp p{
  padding: 0;
  margin: 0;
}

#whatsapp{
  box-shadow: 0px 0px 30px rgb(113, 255, 163);
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 80px;
  padding: 0;
  position: fixed;
  margin: 0;
  bottom: 20px;
  right: 20px;
}