* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.animated-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animated-element.show {
  opacity: 1;
  transform: translateY(0);
}


body {
  overflow-x: hidden;
  background-color: #f2f9ff;
}

header {
  width: 80%;
  border-radius: 20px;
  z-index: 10;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffcce1c7;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 20px;
  box-shadow: 0px 5px 20px rgb(178, 190, 255);
}

header .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left img {
  width: 50px;
  margin-right: 10px;
}

header .left h2 {
  color: #000;
}

header div a {
  padding: 0 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

header div button{
  display: none;
}

header div a:hover{
  color: #ff77b7;
 font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

main h1 {
  font-size: 90px;
}

main p {
  font-weight: 400;
  font-size: 18px;
}

main span {
  background: -webkit-linear-gradient(90deg, #8870ff, #ff77b7, #ff77b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main button{
  width: 200px;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid green;
  background-color: rgb(231, 255, 231);
  color: green;
}

.innerMain{
  width: 90%;
  /* height: 95%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
}
.innerMain *{
  margin: 3px;
}

.services {
  background-color: #D9EAFD;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.services h1{
margin: 30px 0px;
}

.innerServices {
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.service {
  display: flex;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #7c77ff;
}

.serviceLeft {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceLeft img {
  width: 60px;
}

.serviceRight {
  width: 75%;
}

.serviceRight b {
  font-size: 18px;
  margin: 5px;
}

.serviceRight p {
  font-size: 14px;
  margin: 5px;
}

.clients h1{
  text-align: center;
  margin-bottom: 20px;
}

.clients{
  background-color: #D9EAFD;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}


.photo-loop {
  position: relative;
  overflow: hidden; /* Hide anything outside the container */
  width: 100%;
  margin: 0px auto;
  background-color: #D9EAFD;
  margin-bottom: 30px;
}

.photos {
  display: flex;
  animation: scroll 10s linear infinite; /* Smooth infinite scrolling animation */
}

.photos img {
  width: 200px; /* Set a fixed width for images */
  /* height: 100%;  */
  padding: 0px 10px;
  border-radius: 20px;
  object-fit: cover;
  flex-shrink: 0; /* Prevent images from shrinking */
}

/* Keyframes for seamless horizontal scrolling */
@keyframes scroll {
  from {
    transform: translateX(0); /* Start at the beginning */
  }
  to {
    transform: translateX(-50%); /* Move by half of the total width (1 duplicate set) */
  }
}



.unique {
  background-color: #D9EAFD;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.unique h1, p{
margin: 20px 0px;
}

.unique .heading{
  font-weight: 500;
  border: 1px solid grey;
  background: linear-gradient(rgb(156, 248, 255), rgb(242, 171, 255));
  padding: 10px;
  border-radius: 50px;
  }
  

.innerUnique{
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

#other{
  color: black;
}

.innerUnique h3{
  /* background: -webkit-linear-gradient(90deg, #8870ff, #ff77b7, #ff77b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #ff77b7;
  /* border: 1px solid black; */
  border-radius: 30px;
  font-size: 25px;
  padding: 5px;
 
}



.innerUnique .left p{
  color: green;
  font-size: 20px;
  font-weight: 700px;
  /* border: 2px dashed rgb(0, 255, 13); */
  border-radius: 20px;
  padding: 5px;
}
.innerUnique .right p{
  color: red;
  /* border: 2px dashed red; */
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
}

.innerUnique .left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.innerUnique .left .green, .red{
  display: flex;
}

.innerUnique .left div {
  display: flex;
 
  align-items: center;
}
.innerUnique .right div {
  display: flex;
  align-items: center;
}

#other {
  color: rgb(145, 145, 145);
}

.specialWords{
  background: -webkit-linear-gradient(90deg, #8870ff, #ff77b7, #ff77b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review{
  background-color: #D9EAFD;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.review h1{
  margin: 20px 0px;
  }
  

.innerReview{
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #f2f9ff;
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.innerReview .left{
  height: 100%;
  border-right: 1px solid black;
  width: 50%;
}
.innerReview .right{
  height: 100%;
  width: 50%;
}

.card{
  /* border: 0.5px solid black; */
  background-color: #E8F9FF;
  box-shadow: 0px 3px 5px rgb(195, 195, 195);
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin: 20px auto;
  border-radius: 20px;
}

.card .top img{
  width: 50%;
  height: 80%;
  padding-left: 10px;
}

.card .top{
  display: flex;
  align-items: center;
  height: 15%;
}
.card .middle{
  height: 65%;
}

.card .middle p{
  margin: 0;
  padding: 8px;
}
.card .bottom{
  display: flex;
  height: 20%;
}

.bottom .leftCard{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom .leftCard img{
  width: 50%;
  height: auto;
}
.bottom .rightCard{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: start;

}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9EAFD;

}

.innerFooter{
  width: 80%;
  height: 80%;
  box-shadow: 0px 3px 5px grey;
  border-radius: 40px;
  background-color: #f2f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerFooter div{
  width: 25%;
  height: 100%;
 
}

.innerFooter .left {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  
}

.innerFooter .left h1{
  font-size: 25px;
}

.innerFooter .left img{
  width:30%;
}

.innerFooter .middle1{
  display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
  padding: 10px;
}

.innerFooter .middle1 p{
  margin: 0;
}
.innerFooter .middle2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerFooter .middle2 a{
  text-decoration: none;
  padding: 10px 0px;
  color: #141212;
}
.innerFooter .right{
display: flex;
flex-direction: column;
}


.innerFooter .right .top{
  display: flex;
  align-items: end;
  justify-content: center;
}
.innerFooter .right div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.innerFooter .right img{
 width: 60%;
 transition: 0.4s;
}

.innerFooter .right img:hover{
  transform: scale(1.1);
}

#whatsapp p{
  padding: 0;
  margin: 0;
}

#whatsapp{
  box-shadow: 0px 0px 30px rgb(113, 255, 163);
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 80px;
  padding: 0;
  position: fixed;
  margin: 0;
  bottom: 20px;
  right: 20px;
}

.showNav {
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 555;
  backdrop-filter: blur(10px);
  border: 1px solid black;
  background-color: rgba(255, 151, 239, 0.399);
  transition: right 0.3s ease;
}

.showNav div {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.showNav a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#toggleNav {
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1024px) {
  header {
    width: 90%;
  }

  main {
    height: 400px;

  }

  main h1 {
    
    font-size: 70px;
  }
  
  main p {
    font-weight: 400;
    font-size: 12px;
  }

  .services {
    width:95%;
    height: auto;
    border-radius: 40px;
  }

  
.innerServices {
  width: 90%;
  height: auto;
  border-radius: 40px 40px 0 0;
}

.clients{
  width: 95%;
}

.clients marquee div img {
  width:150px;
}

.unique {
  width: 95%;
}
.innerUnique{
  width: 90%;
}
.review {
  width: 95%;
}
.inerReview{
  width: 90%;
}

.innerFooter{
  width: 99%;
  border-radius: 0px;
  box-shadow: 0px 0px 0px grey;
}
.innerFooter .middle2{
  display: flex;
  flex-direction: column;
  align-items: start;
}

#whatsapp{
  width: 60px;
  bottom: 40px;
  right: 20px;
}
}

@media screen and (max-width: 768px) {

  header{
    top: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    border-radius: 0px;
    padding: 0px 10px;
  }
  header div a {
    display: none;
  }

  header div button{
    display: block;
  }

  main {
    height: 360px;
justify-content: space-around;
margin-bottom: 20px;
  }

  main h1 {
    
    font-size: 60px;
  }
  
  main p {
    font-weight: 400;
    margin: 0;
    font-size: 10px;
  }
  main button{
    width: 125px;
    font-size: 16px;
  }

  .services {
    width:100%;
    height: auto;
    border-radius: 0px;
  }

  .services h1{
    font-size: 27px;
  }

  
.innerServices {
  width: 95%;
  height: auto;
  flex-direction: column;
  border-radius: 40px 40px 0 0;
}

.serviceLeft img {
  width: 50px;
}

.serviceRight b {
  font-size: 17px;
  margin: 5px;
}

.serviceRight p {
  font-size: 12px;
  margin: 5px;
}


.clients{
  width: 100%;
  margin: 50px auto;
}
.clients h1{
  font-size: 27px;
}

.photo-loop{
  margin-bottom: 20px;
}

.photos img {
  width: 150px; 
}

.unique {
  border-radius: 0px;
  width: 100%;
  box-shadow: 0px 2px 5px rgb(156, 156, 156);
}

.unique h1{
  font-size: 27px;
}

.innerUnique{
  width: 95%;
}

.unique .heading{
  display: none;
}
.innerUnique h3{
  font-size: 20px;
}

.innerUnique .left p{
  font-size: 18px;
}
.innerUnique .right p{
  font-size: 18px;
}


.review{
  width: 100%;
  border-radius: 0px;
  box-shadow: 0px 2px 5px rgb(156, 156, 156);
}

.review h1{
  font-size: 27px;
}

.innerReview{
  width: 95%;
}

.card{
  width: 90%;
}

.card .middle p{
  font-size: 12px;
}

.footer {
  width: 100%;
  height: 500px;
}

.innerFooter{
  justify-content: space-around;
  height: 90%;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}

.innerFooter div{
  width: 100%;
  height: 100%;
 
}

.innerFooter .right img{
  width: 40px;
  transition: 0.4s;
 }

 .innerFooter .right div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

 .innerFooter .right .top{
  display: flex;
  align-items: center;
}

 .innerFooter .middle2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
 .innerFooter .middle1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerFooter .middle2 *{
margin: 0px 10px;
}

.innerFooter .left img{
  width:20%;
}

.innerFooter .left h1{
  font-size: 27px;
}


}

@media screen and (max-width: 650px) {
  header .left img{
    width: 45px;
  }

  header .left h2{
    font-size: 20px;
  }

  main {
    height: 350px;
  }

  main h1 {
    font-size: 50px;
  }

  main button{
    width: 100px;
    font-size: 14px;
  }

  .services h1{
    font-size: 25px;
  }

  .innerServices{
    width: 100%;
    border-radius: 0px;
  }

  .serviceLeft img {
    width: 45px;
  }
  
  .serviceRight b {
    font-size: 16px;
    margin: 5px;
  }
  
  .serviceRight p {
    font-size: 11px;
    margin: 5px;
  }

  .clients h1{
    font-size: 25px;
  }

  .photos img {
    width: 140px; 
  }

  .unique h1{
    font-size: 25px;
  }
  
  .innerUnique{
    width: 100%;
    border-radius: 0px;
  }

  .review h1{
    font-size: 25px;
  }
  
  .innerReview{
    width: 100%;
    border-radius: 0px;
  }

  .card h4{
    font-size: 14px;
  }

  .card .middle p{
    font-size: 11px;
  }
  
  .innerFooter .right img{
    width: 35px;
   }

   .innerFooter .left img{
    width:17%;
  }

  .innerFooter .left h1{
    font-size: 25px;
  }

  #whatsapp{
    width: 60px;
  }

}

@media screen and (max-width: 550px) {
  header .left img{
    width: 40px;
  }

  header .left h2{
    font-size: 18px;
  }

  main {
    height: 345px;
  }

  main h1 {
    font-size: 45px;
  }

  main button{
    width: 90px;
    font-size: 12px;
  }

  .services h1{
    font-size: 23px;
  }

  .serviceLeft img {
    width: 45px;
  }
  
  .serviceRight b {
    font-size: 15px;
    margin: 5px;
  }
  
  .serviceRight p {
    font-size: 10px;
    margin: 5px;
  }

  .clients h1{
    font-size: 23px;
  }

  .photos img {
    width: 130px; 
  }

  .unique h1{
    font-size: 23px;
  } 
  
  .unique h3{
    font-size: 17px;
  }

  .innerUnique .left p{
    font-size: 15px;
  }
  .innerUnique .right p{
    font-size: 15px;
  }

  .review h1{
   font-size: 23px;
    }

    .innerReview .left {
      border-right: none;
    }

    .card{
      width: 97%;
    }

    .footer{
      height: 400px;
    }

    .innerFooter .right img{
      width: 32px;
     }

     .innerFooter .left img{
      width:15%;
    }

    .innerFooter .left h1{
      font-size: 23px;
    }

    .innerFooter p, a{
      font-size: 12px;
    }

}

@media screen and (max-width: 450px) {
.innerUnique .left p{
  font-size: 12px;
}
.innerUnique .right p{
  font-size: 12px;
}

}

@media screen and (max-width: 400px) {
  header .left img{
    width: 35px;
  }

  main h1 {
    font-size: 35px;
  }

  .services h1{
    font-size: 20px;
  }
  .clients h1{
    font-size: 20px;
  }
  .unique h1{
    font-size: 20px;
  }
  .review h1{
    font-size: 20px;
  }


}

@media screen and (max-width: 350px) {
  .innerUnique .left p{
    font-size: 11px;
  }
  .innerUnique .right p{
    font-size: 11px;
  }

}
